
<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-2">
        <i class="fa fa-comments fa-2x"></i>
      </h1>
      <h1 class="text-center  mb-2">AttainU Chat</h1>
      <h2 class="text-center mt-4">Dashboard</h2>
      <div >
        <p style="text-align:center;"><img class="portrait" src="/images/dp.jpg"></p>
       </div>
         <p class="text-center lead mb-2"><b>Welcome <%= user.name %></b></p>
         <a href="/users/logout" class="btn btn-success my-2">Create Chat Room</a>
         <a href="/users/read" class="btn btn-dark my-2">My Account</a>
         <a href="/users/logout" class="btn btn-primary my-2">Logout</a>
          <!-- <a href="/users/update" class="btn btn-info">Update Account</a> -->
          <!-- <a href="/users/delete" class="btn btn-dark">Delete Account</a> -->
          <!-- <a href="https://zoom.us/j/4252455938?pwd=NDJZQWl1Zk8yVUxpRVJRT0lOTncyUT09" class="btn btn-link">Join Class</a> -->

         <!-- < div id="jiosaavn-widget"><div style="position:fixed;top:100%;">Listen to the <a href="https://www.jiosaavn.com/featured/weekly-top-15-hindi/8MT-LQlP35c_" target="_blank">latest songs</a>, only on <a href="https://www.jiosaavn.com" target="_blank">JioSaavn.com</a></div></div> -->

    </div>
  </div>
</div>
