.portrait{
    background: url('/default.png');
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

body {
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    overflow: hidden; 
  }

/* footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(233, 122, 187);
    color: white;
  } */